*{
    margin: 0;
    padding: 0;
   
}

h1{
    color: burlywood;
    font-size: 1rem;
}



body{
    background-color: saddlebrown;

}

.productos{
    background-color: seagreen;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.productos img{
    width: 20%;
}

/* tabletas */

@media(min-width: 768px){
    .productos{
        background-color:slategray;
        
    }
}


@media(min-width: 1200px){
.productos{
    background-color: springgreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

}


